// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.contoso.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.contoso.fluent.FoosClient;
import com.azure.resourcemanager.contoso.fluent.models.ResultInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in FoosClient. */
public final class FoosClientImpl implements FoosClient {
    private final ClientLogger logger = new ClientLogger(FoosClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final FoosService service;

    /** The service client containing this operation class. */
    private final ContosoImpl client;

    /**
     * Initializes an instance of FoosClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    FoosClientImpl(ContosoImpl client) {
        this.service = RestProxy.create(FoosService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ContosoFoos to be used by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ContosoFoos")
    private interface FoosService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/foos"
                + "/{fooName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ResultInner>> getByResourceGroup(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("fooName") String fooName,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * This is a sample get operation.
     *
     * @param resourceGroupName The name of the resource group.
     * @param fooName The name of the Foo.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return sample result definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ResultInner>> getByResourceGroupWithResponseAsync(String resourceGroupName, String fooName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (fooName == null) {
            return Mono.error(new IllegalArgumentException("Parameter fooName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .getByResourceGroup(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            fooName,
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * This is a sample get operation.
     *
     * @param resourceGroupName The name of the resource group.
     * @param fooName The name of the Foo.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return sample result definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ResultInner>> getByResourceGroupWithResponseAsync(
        String resourceGroupName, String fooName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (fooName == null) {
            return Mono.error(new IllegalArgumentException("Parameter fooName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .getByResourceGroup(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                fooName,
                accept,
                context);
    }

    /**
     * This is a sample get operation.
     *
     * @param resourceGroupName The name of the resource group.
     * @param fooName The name of the Foo.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return sample result definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ResultInner> getByResourceGroupAsync(String resourceGroupName, String fooName) {
        return getByResourceGroupWithResponseAsync(resourceGroupName, fooName)
            .flatMap(
                (Response<ResultInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * This is a sample get operation.
     *
     * @param resourceGroupName The name of the resource group.
     * @param fooName The name of the Foo.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return sample result definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ResultInner getByResourceGroup(String resourceGroupName, String fooName) {
        return getByResourceGroupAsync(resourceGroupName, fooName).block();
    }

    /**
     * This is a sample get operation.
     *
     * @param resourceGroupName The name of the resource group.
     * @param fooName The name of the Foo.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return sample result definition.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ResultInner> getByResourceGroupWithResponse(
        String resourceGroupName, String fooName, Context context) {
        return getByResourceGroupWithResponseAsync(resourceGroupName, fooName, context).block();
    }
}
